.detail {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  background: #8a1538;
  background-size: cover;
  width: 100vw;
  height: 94.6vh;
  overflow-x: hidden;
  background-attachment: fixed;
}

.detail img {
  padding-top: 3.4rem;
  padding-bottom: 4rem;
  width: 20rem;
  height: 20rem;
}
